@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Europa', sans-serif!important;
}
.hero_banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: calc(100vh);
  position: relative;
  z-index: 0;
  /* background-image: url("../../public/assets/images/herobanner.png")!important; */
}
.hero_banner.landing_page_banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, .4);
  height: 100vh;
  z-index: -1;
}
.banner_title{
  font-size: 42px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
  @media screen and (max-width: 596px) {
    .hero_banner {
    min-height: 100%;
    }
}
p {
  font-size: 22px;
  margin: 16px 0 42px;
}
  @media screen and (max-width: 767px) {
    p {
    font-size: 18px;
    margin-top: 35px;
  }
}
.banner_section {
  height: auto;
  min-height: 50vh;
}
.banner_section p{
  font-size: 34px;
  font-weight: 400;
  color: white;
}
  @media screen and (max-width: 596px) {
    .banner_section {
    min-height: 63vh;
    padding: 80px 0 40px;
  }
}
.custom_btn{
  font-size: 20px;
    font-weight: 700;
    color: black;
    border: 0;
    padding: 10px 24px;
    border-radius: 2px;
}
.count{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: black;
}
.count img{
  margin-right:4px;
}
.social_media_info{
  padding: 50px 0;
}
