@import "fonts.scss";
@import "bootstrap.scss";

body {
    background-color: #ffffff;
    margin: 0px;
    overflow: hidden;
    font-family: 'Europa', sans-serif!important;
    ul{
        
    }
}
